In [1]:
import numpy as np
import pandas as pd

dat=pd.read_table('cps09mar.txt', header=None)
#rename all the columns
dat.columns=['age', 'gender', 'hisp', 'edu', 'earning', 'hours', 'week', 'union', 'uncov', 'region', 'race', 'marital']
#get experience and its square
dat['exp']=dat['age']-dat['edu']-6
dat['exp^2']=dat['exp']*dat['exp']/100
#get lnwage
dat['wage_per_hour']=dat['earning']/(dat['week']*dat['hours'])
dat['ln_wage']=np.log(dat['wage_per_hour'])
dat.tail()

,age,gender,hisp,edu,earning,hours,week,union,uncov,region,race,marital,exp,exp^2,wage_per_hour,ln_wage
50737,58,1,0,11,30000,40,52,0,0,4,4,6,41,16.81,14.423077,2.668829
50738,62,1,0,16,35000,40,52,0,0,4,4,6,40,16.00,16.826923,2.822980
50739,58,0,0,12,75000,50,52,0,0,4,1,1,40,16.00,28.846154,3.361977
50740,45,1,0,12,40000,60,52,0,0,4,1,1,27,7.29,12.820513,2.551046
50741,40,0,0,11,60000,40,52,0,0,4,9,1,23,5.29,28.846154,3.361977

In [6]:
aim=dat.loc[(dat['race'] == 1) & (dat['gender']==0) &(dat['hisp']==1)]
aim.tail()

,age,gender,hisp,edu,earning,hours,week,union,uncov,region,race,marital,exp,exp^2,wage_per_hour,ln_wage
50635,43,0,1,14,510827,40,48,0,0,4,1,1,23,5.29,266.055729,5.583706
50643,58,0,1,13,120000,40,52,0,0,4,1,1,39,15.21,57.692308,4.055124
50659,35,0,1,6,40000,40,52,0,0,4,1,1,23,5.29,19.230769,2.956512
50670,33,0,1,6,15000,40,52,0,0,4,1,1,21,4.41,7.211538,1.975682
50703,51,0,1,12,35360,40,52,0,0,4,1,5,33,10.89,17.000000,2.833213

In [17]:
def is_it(num, value):
    if num==value:
        return 1
    else:
        return 0
aim['northeast']=aim.apply(lambda row: is_it(1, row['region']), axis=1)
aim['south']=aim.apply(lambda row: is_it(3, row['region']), axis=1)
aim['west']=aim.apply(lambda row: is_it(4, row['region']), axis=1)
aim['married']=aim.apply(lambda row: max(is_it(1, row['marital']), is_it(2, row['marital']), is_it(3, row['marital'])), axis=1)
aim['widowed_divorced']=aim.apply(lambda row: max(is_it(4, row['marital']), is_it(5, row['marital'])), axis=1)
aim['separated']=aim.apply(lambda row: is_it(6, row['marital']), axis=1)
aim['ones']=1
aim

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

,age,gender,hisp,edu,earning,hours,week,union,uncov,region,...,exp^2,wage_per_hour,ln_wage,northeast,south,west,married,widowed_divorced,separated,ones
112,53,0,1,9,50000,70,52,0,0,1,...,14.44,13.736264,2.620039,1,0,0,1,0,0,1
267,21,0,1,13,30000,40,52,0,0,1,...,0.04,14.423077,2.668829,1,0,0,0,0,0,1
271,40,0,1,20,75000,40,52,0,0,1,...,1.96,36.057692,3.585120,1,0,0,1,0,0,1
460,27,0,1,12,18500,40,52,0,0,1,...,0.81,8.894231,2.185403,1,0,0,0,0,0,1
461,55,0,1,12,22000,40,49,0,0,1,...,13.69,11.224490,2.418098,1,0,0,1,0,0,1
637,62,0,1,13,24000,36,52,0,0,1,...,18.49,12.820513,2.551046,1,0,0,0,1,0,1
638,51,0,1,16,88000,40,52,0,0,1,...,8.41,42.307692,3.744969,1,0,0,1,0,0,1
714,41,0,1,12,11250,40,52,0,0,1,...,5.29,5.408654,1.688000,1,0,0,1,0,0,1
1128,42,0,1,13,35000,40,52,0,0,1,...,5.29,16.826923,2.822980,1,0,0,1,0,0,1
1129,32,0,1,16,80000,40,52,0,0,1,...,1.00,38.461538,3.649659,1,0,0,1,0,0,1
1674,40,0,1,16,31000,68,52,0,0,1,...,3.24,8.766968,2.170991,1,0,0,1,0,0,1
1741,25,0,1,16,60000,40,52,0,0,1,...,0.09,28.846154,3.361977,1,0,0,0,0,0,1
1891,58,0,1,18,95000,55,52,0,0,1,...,11.56,33.216783,3.503055,1,0,0,1,0,0,1
1899,46,0,1,14,125000,65,52,0,0,1,...,6.76,36.982249,3.610438,1,0,0,1,0,0,1
1936,22,0,1,12,17680,40,52,0,0,1,...,0.16,8.500000,2.140066,1,0,0,0,0,0,1
1943,47,0,1,13,47000,40,52,0,0,1,...,7.84,22.596154,3.117780,1,0,0,1,0,0,1
1945,30,0,1,14,42000,50,52,0,0,1,...,1.00,16.153846,2.782158,1,0,0,1,0,0,1
1946,46,0,1,18,95000,40,52,0,0,1,...,4.84,45.673077,3.821509,1,0,0,0,1,0,1
1947,42,0,1,16,95000,42,52,0,0,1,...,4.00,43.498168,3.772719,1,0,0,1,0,0,1
1949,36,0,1,13,39000,40,52,0,0,1,...,2.89,18.750000,2.931194,1,0,0,1,0,0,1
1950,42,0,1,9,47000,40,52,0,0,1,...,7.29,22.596154,3.117780,1,0,0,1,0,0,1
2228,50,0,1,13,62000,40,52,0,0,1,...,9.61,29.807692,3.394766,1,0,0,1,0,0,1
2262,59,0,1,12,24960,40,52,0,0,1,...,16.81,12.000000,2.484907,1,0,0,0,0,0,1
2456,38,0,1,16,49500,43,52,0,0,1,...,2.56,22.137746,3.097284,1,0,0,0,0,1,1
2584,39,0,1,20,66000,40,52,0,0,1,...,1.69,31.730769,3.457287,1,0,0,1,0,0,1
2648,33,0,1,12,45000,40,52,0,0,1,...,2.25,21.634615,3.074295,1,0,0,1,0,0,1
2773,24,0,1,12,30000,40,52,0,0,1,...,0.36,14.423077,2.668829,1,0,0,0,0,0,1
2774,64,0,1,12,33000,40,52,0,0,1,...,21.16,15.865385,2.764140,1,0,0,1,0,0,1
2811,38,0,1,9,27000,40,52,0,0,1,...,5.29,12.980769,2.563469,1,0,0,0,0,0,1
2823,37,0,1,9,30000,40,52,0,0,1,...,4.84,14.423077,2.668829,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49633,50,0,1,14,88000,40,52,0,0,4,...,9.00,42.307692,3.744969,0,0,1,1,0,0,1
49635,30,0,1,12,17000,40,52,0,0,4,...,1.44,8.173077,2.100845,0,0,1,0,0,1,1
49702,28,0,1,13,33000,40,52,0,0,4,...,0.81,15.865385,2.764140,0,0,1,0,0,0,1
49747,34,0,1,12,34000,50,52,0,0,4,...,2.56,13.076923,2.570849,0,0,1,0,0,0,1
49774,27,0,1,12,30000,40,52,0,0,4,...,0.81,14.423077,2.668829,0,0,1,1,0,0,1
49809,23,0,1,12,50000,40,52,0,0,4,...,0.25,24.038462,3.179655,0,0,1,1,0,0,1
49824,24,0,1,12,50000,40,50,0,0,4,...,0.36,25.000000,3.218876,0,0,1,0,0,0,1
49864,42,0,1,12,60000,40,52,0,0,4,...,5.76,28.846154,3.361977,0,0,1,1,0,0,1
49866,19,0,1,13,25000,40,52,0,0,4,...,0.00,12.019231,2.486508,0,0,1,0,0,0,1
49920,29,0,1,12,2700,40,52,0,0,4,...,1.21,1.298077,0.260884,0,0,1,0,0,0,1
49922,34,0,1,13,44000,50,52,0,0,4,...,2.25,16.923077,2.828678,0,0,1,1,0,0,1
49980,33,0,1,12,30000,40,52,0,0,4,...,2.25,14.423077,2.668829,0,0,1,0,0,1,1
49983,44,0,1,14,70000,40,52,1,0,4,...,5.76,33.653846,3.516127,0,0,1,1,0,0,1
49989,48,0,1,13,100000,40,52,0,0,4,...,8.41,48.076923,3.872802,0,0,1,1,0,0,1
49999,31,0,1,14,36000,40,52,0,0,4,...,1.21,17.307692,2.851151,0,0,1,1,0,0,1
50001,36,0,1,12,20000,40,52,0,0,4,...,3.24,9.615385,2.263364,0,0,1,1,0,0,1
50005,44,0,1,6,54000,40,52,0,0,4,...,10.24,25.961538,3.256616,0,0,1,1,0,0,1
50047,24,0,1,12,12000,40,52,0,0,4,...,0.36,5.769231,1.752539,0,0,1,1,0,0,1
50048,38,0,1,13,85000,40,52,0,0,4,...,3.61,40.865385,3.710283,0,0,1,1,0,0,1
50086,32,0,1,16,45000,40,52,0,0,4,...,1.00,21.634615,3.074295,0,0,1,0,0,0,1
50136,26,0,1,12,35000,40,52,0,0,4,...,0.64,16.826923,2.822980,0,0,1,1,0,0,1
50252,24,0,1,13,42000,60,52,0,0,4,...,0.25,13.461538,2.599837,0,0,1,1,0,0,1
50254,41,0,1,13,65000,47,52,0,0,4,...,4.84,26.595745,3.280751,0,0,1,1,0,0,1
50362,33,0,1,13,30000,40,52,0,0,4,...,1.96,14.423077,2.668829,0,0,1,1,0,0,1
50374,36,0,1,13,60000,50,52,0,0,4,...,2.89,23.076923,3.138833,0,0,1,1,0,0,1
50635,43,0,1,14,510827,40,48,0,0,4,...,5.29,266.055729,5.583706,0,0,1,1,0,0,1
50643,58,0,1,13,120000,40,52,0,0,4,...,15.21,57.692308,4.055124,0,0,1,1,0,0,1
50659,35,0,1,6,40000,40,52,0,0,4,...,5.29,19.230769,2.956512,0,0,1,1,0,0,1
50670,33,0,1,6,15000,40,52,0,0,4,...,4.41,7.211538,1.975682,0,0,1,1,0,0,1
50703,51,0,1,12,35360,40,52,0,0,4,...,10.89,17.000000,2.833213,0,0,1,0,1,0,1

In [18]:
panel_1=aim[[ 'edu', 'exp', 'exp^2', 'northeast', 'south', 'west', 'married', 'widowed_divorced', 'separated', 'ones']].values
beta=np.dot(np.linalg.inv(np.dot(np.transpose(panel_1), panel_1)), np.dot(np.transpose(panel_1), aim[['ln_wage']].values))
beta

array([[ 0.08829372],
       [ 0.02787023],
       [-0.03630245],
       [ 0.0615615 ],
       [-0.06794577],
       [ 0.01950203],
       [ 0.17784545],
       [ 0.08572307],
       [ 0.01671052],
       [ 1.19288391]])